  .mass-export {
    display: flex;
    justify-content: space-evenly;
    max-width: 100% !important;
    flex-direction: column;
    :first-child {
      font-size: 2em;
    }
    a.btn.btn-primary.back {
      margin: 20px 40%;
  }
  }
