// Import page-specific CSS files here.
@import "home";

.index-background-img {
  background: image-url('chineseherb2.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  filter: blur(6px);
  overflow: hidden;
  -webkit-filter: blur(3px);
}

.main-container {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform:translate(-50%,-50%);
  // margin: 10px auto;
  // z-index: 2;
  .searchbar {
    width:50%;
    margin:10px auto;
    form {
      display: flex;
      justify-content: space-between;
      .btn {
        margin-left: 5px;
      }
    }
  }
  table{
  font-family:sans-serif;
      width: 100%;
      border-spacing: 0;
      border-collapse: separate;
      table-layout: fixed;
      margin-bottom: 50px;

      thead{
          tr{
              th{
                text-align: center;
                  background: $blue;
                  color: $light;
                  padding: 0.5em;
                  overflow: hidden;
                  a {
                    background: $blue;
                    color: $light;
                    overflow: hidden;
                    padding: 0.5em;
                    text-decoration: none;
                  }
                  &:first-child{
                      width: 10%;
                      border-radius:3px 0 0 0;
                  }
                  &:last-child{
                      border-radius:0 3px  0 0;
                  }
                  .short{
                      display: none;
                  }

                  i{
                      vertical-align: middle;
                      font-size: 2em;
                  }
              }
          }
      }
      tbody{
          tr{
              background: $light;

                &:nth-child(odd){
                    background:$light2;
                }
                &:nth-child(n){
                    td{
                        border-bottom:1px solid $blue;
                    }
                }
              td{
                  text-align: center;
                  vertical-align: middle;
                  border-left: 1px solid $blue;
                  position: relative;
                  height: 32px;
                  cursor: pointer;

                  &:last-child{
                      border-right:1px solid $blue;
                  }
        &.hour{
                      font-size: 1.5em;
                      padding: 1px;
                      color: $blue;
                      background:#fff;
                      border-bottom:1px solid $blue;
                      border-collapse: separate;
                      max-width: 20%;
                      cursor: default;
                      span{
                          display: block;
                      }
                  }
              }
          }
      }

      @media(max-width:60em){

          thead{
              tr{
                  th{
                      .long{
                          display: none;
                      }
                      .short{
                          display: block;
                      }
                  }
              }
          }

          tbody{
              tr{
                  td{
                      &.hour{
                          span{
                              transform:rotate(270deg);
              -webkit-transform:rotate(270deg);
              -moz-transform:rotate(270deg);
                          }
                      }
            }
              }
          }
      }

      @media(max-width:27em){
          thead{
              tr{
                  th{
                      font-size: 65%;
                      .day{
                          display: block;
                          font-size: 1.2em;
                          border-radius: 50%;
                                width: 20px;
                          height: 20px;
                          margin: 0 auto 5px;
                          padding: 5px;

                          &.active{
                              background: $light;
                              color: $blue;
                          }
                      }
                  }
              }
          }
          tbody{
              tr{
                  td{
                      &.hour{
                          font-size: 1em;
                          span{
                            transform:translateY(16px)rotate(270deg);
              -webkit-transform:translateY(16px)rotate(270deg);
              -moz-transform:translateY(16px)rotate(270deg);
                          }
                      }
          }
              }
          }
      }
  }
}
