<% @export_lists.each do |item| %>
    <tr>
      <td><%= @powders.find(item.powder_id).name %></td>
      <td>
        <%= item.export_qty %>
      </td>
      <td>
        <td><%= link_to 'Destroy', @export_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </td>
    </tr>
  <% end %>
